
#container{
width: 640px;
height:640px;
background-color: black;
border-radius: 50%;
position: relative;
/*
animation: rotate_image 60s linear infinite;
transform-origin: 50% 50%;
*/
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

#wrap{
    height: 95vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.star {
    width: 1.8px;
    height:1.8px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 10px #eeeeee,
                0 0 20px #eeeeee,
                0 0 30px #eeeeee;

}
